body{
    background-color: #909090;
}
#print_paper{
    width: 21cm; /*21*/
    height: 29.7cm; /*29.7*/
    background-color: white;
    overflow: hidden;
}
#print_work_space{
    display: inline-block;
    font-size: 0; 
    width: 100%;
    height: 100%;
    padding: 0;
    border: 1px solid yellow;
}
.card_print{
    display: inline-block;
    overflow: hidden;
    border: 1px solid black;
    margin-bottom:.05cm;
    margin-right:.05cm;
}
#btn_print{
    position: absolute;
    top: 0;
    left: 0;
}
@media print {
	.ds_btn{display: none;}
    #print_paper{        
        width: 100vw;
        height: 100vh;
    }
}